@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: #fff;
  background-color: #000;
}

header {
  height: 220px;
  background: linear-gradient(180deg, #102347 0%, #000000 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: unset;
}