@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: #fff;
  background-color: #000;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: unset;
}

.astrometa-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#astrometa-sales {
  padding: 40px 10px;
}
